<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <nav>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
    <h3>Find Recipes from the community or from the web!</h3>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
