<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h3>Find Recipes from the community or from the web!</h3>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
