<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>Write an ingredient to find recipes:</h1>
    <form>
      <label for="ingredient">Main ingredient:</label>
      <input type="text" id="ingredient" name="ingredient" />
      <button type="submit">Submit</button>
    </form>
    <div class="cards"></div>
    <%- include("./partials/footer.ejs") %>
    <script src="/scripts.js"></script>
  </body>
</html>
