<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h3 class="webRecipesH3">
      Write a recipe name or main ingredient/s to check the number of calories:
    </h3>
    <form>
      <label for="ingredient">Name of recipe or main ingredient/s:</label>
      <input type="text" id="ingredient" name="ingredient" />
      <button type="submit">Submit</button>
    </form>
    <div class="cards"></div>
    <%- include("../partials/footer.ejs") %>
    <!-- not ../public/scripts.js because I'm already telling express the static files are on public -->
    <script src="/scripts.js"></script>
  </body>
</html>
