<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1 class="prepH1">Share your recipe with the world!</h1>
    <form action="/community" method="POST">
      <label for="nameOfRecipe">What's your recipe called:</label>
      <input type="text" id="nameOfRecipe" name="nameOfRecipe" />
      <label for="mainIngredient">Choose at least one main ingredient:</label>
      <input type="text" id="mainIngredient" name="mainIngredient" />
      <label for="preparation">Please share all the steps:</label>
      <textarea id="preparation" name="preparation"></textarea>
      <input type="hidden" name="owner" value="<%= user.email %>" />
      <button type="submit">Submit</button>
    </form>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
